<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required libs for BackboneJS -->
	<script type="text/javascript" src="libs/jquery.js"></script>
	<script type="text/javascript" src="libs/underscore.js"></script>
	<script type="text/javascript" src="libs/backbone.js"></script>

	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<h1>Backbone Testing</h1>

	<div id="test"><p>My Test1</p></div>

	<!-- Template using Script tags in HTML example -->
	<!-- Note that it is text/html, not text/javascript -->
	<script id="latlon-template" type="text/html">
	<p>Latitude: <%= lat %></p>
	<p>Longitude: <%= lon %></p>

	<!-- Use UnderscoreJS .each() function to iterate through an array. -->
	<% _([1,2,3]).each(function(number) { %>
		<p>
			<!-- The current number at loop counter -->
			<%= number %>
		</p>
	<% }); %>


	</script>

</body>

<script type="text/javascript" src="js/BackboneTesting.js"></script>
</html>
